@model IEnumerable<BigSchool.Models.Course>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <ul class="course" style="">
        @foreach (var course in Model)
        {
        <li>
            <div class="date">
                <span class="month">
                    @course.DateTime.ToString("MM")
                </span>
                -
                <span class="day">
                    @course.DateTime.ToString("dd")
                </span>
            </div>
            <div class="details">
                <span class="lecturer">
                    @course.Lecturer.Name
                </span>
                <span class="category">
                    @course.Category.Name
                </span>
            </div>
        </li>
        }
        
    </ul>
</div>
